<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Trade</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/card.css" rel="stylesheet">
  <link href="/css/search.css" rel="stylesheet">
  <link href="/css/modal.css" rel="stylesheet">

</head>
<body>
  <div class="ui container page">
