<div class="ui large modal">
  <div class="header">The Alchemist
    <div style="float:right"><i class="ui close grey icon link closeModal"></i></div>
  </div>
  <div class="image content">
      <img class="image" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api">
      <div class="description">
        <div class="ui divided grid">

        <div class="row">
          <div class="four wide column">
            <p class="key">Owner:</p>
          </div>
          <div class="twelve wide column">
            <a class="owner" href="#">some user</a>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <p class="key">Autor:</p>
          </div>
          <div class="twelve wide column">
            <p>some author</p>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <p class="key">Average Rating:</p>
          </div>
          <div class="twelve wide column">
            <p>4.6</p>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <p class="key">Description:</p>
          </div>
          <div class="twelve wide column">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <p class="key">Langauge:</p>
          </div>
          <div class="twelve wide column">
            <p>en</p>
          </div>
        </div>

        <div class="row">
          <div class="four wide column">
            <p class="key">Publish Date:</p>
          </div>
          <div class="twelve wide column">
            <p>1-1-2016</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Request Trade</div>
  </div>
</div>
