<div class="topBar">
      <div class="ui grid">
        <div class="sixteen wide mobile five wide tablet five wide computer column">
          <div class="logoContainer">
            <img class="logo" src="/img/logo.png" alt="">
          </div>
        </div>
        <div class="seven wide mobile four wide tablet five wide computer column ">
          <div class="ui menuList horizontal list">
            <a class="item" href="/">Home</a>
            <a class="item" href="/books">Books</a>
          </div>
        </div>
        <div class="nine wide mobile seven wide tablet six wide computer column right aligned">
          <div class="ui menuList horizontal list">
            <a class="item" href="#">Register</a>
            <a class="item" href="#">Register</a>
            <a class="item" href="#">Login</a>
          </div>
        </div>
      </div>
    </div>
