<% include ./partials/header.ejs %>




    <% include ./partials/topbar.ejs %>
    <% include ./partials/flash.ejs %>

    <div class="ui computer reversed tablet reversed grid">
      <div class="sixteen wide mobile four wide tablet four wide computer column sideBar">
        <form method="POST">
          <div class="searchBar">
            <div class="ui transparent big fluid icon input">
              <input type="text" placeholder="Search">
              <i class="search icon"></i>
            </div>
          </div>
          <br>
          <div class="ui accordion">
            <div class="title">
              <i class="dropdown icon"></i> Sort by
            </div>
            <div class="content">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="sort" checked=true tabindex="0" class="hidden">
                    <label>Newest</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="sort" tabindex="0" class="hidden">
                    <label>Oldest</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="sort" tabindex="0" class="hidden">
                    <label>Hieghest Rated</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="sort" tabindex="0" class="hidden">
                    <label>Lowest Rated</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="title">
              <i class="dropdown icon"></i> Genre
            </div>
            <div class="content">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="genre" tabindex="0" class="hidden">
                    <label>Genre</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="genre" tabindex="0" class="hidden">
                    <label>Genre</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="genre" tabindex="0" class="hidden">
                    <label>Genre</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="genre" tabindex="0" class="hidden">
                    <label>Genre</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="genre" tabindex="0" class="hidden">
                    <label>Genre</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="genre" tabindex="0" class="hidden">
                    <label>Genre</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="title">
              <i class="dropdown icon"></i> Language
            </div>
            <div class="content">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="language" tabindex="0" class="hidden">
                    <label>Language</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="language" tabindex="0" class="hidden">
                    <label>Language</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="language" tabindex="0" class="hidden">
                    <label>Language</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="language" tabindex="0" class="hidden">
                    <label>Language</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="language" tabindex="0" class="hidden">
                    <label>Language</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="language" tabindex="0" class="hidden">
                    <label>Language</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="ui fluid buttons">
            <button class="ui purple button">APPLY</button>
            <div class="or"></div>
            <a href="#" class="ui button">RESET</a>
          </div>
        </form>
      </div>
      <div class="sixteen wide mobile twelve wide tablet twelve wide computer column booksGrid">
        <div class="ui centered grid">
          <div class="sixteen wide mobile eight wide tablet five wide computer column">
            <div class="card">
              <div class="image">
                <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                  alt="">
              </div>
              <a href="#">
                <h5>The Alchemist</h5>
              </a>
              <div class="ui divider"></div>
              <p>Fiction, Fiction, Genre</p>
            </div>
          </div>
          <div class="sixteen wide mobile eight wide tablet five wide computer column">
            <div class="card">
              <div class="image">
                <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                  alt="">
              </div>
              <a href="#">
                <h5>The Alchemist</h5>
              </a>
              <div class="ui divider"></div>
              <p>Fiction, Fiction, Genre</p>
            </div>
          </div>
          <div class="sixteen wide mobile eight wide tablet five wide computer column">
            <div class="card">
              <div class="image">
                <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                  alt="">
              </div>
              <a href="#">
                <h5>The Alchemist</h5>
              </a>
              <div class="ui divider"></div>
              <p>Fiction, Fiction, Genre</p>
            </div>
          </div>
          <div class="sixteen wide mobile eight wide tablet five wide computer column">
            <div class="card">
              <div class="image">
                <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                  alt="">
              </div>
              <a href="#">
                <h5>The Alchemist</h5>
              </a>
              <div class="ui divider"></div>
              <p>Fiction, Fiction, Genre</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="ui borderless secondary menu" style="background-color: white;">
      <a class="item">1</a>
      <a class="item">2</a>
      <a class="item">3</a>
      <a class="item">4</a>
      <a class="item">5</a>
      <a class="item">6</a>
    </div>


<% include ./partials/modal.ejs %>
    
<% include ./partials/footer.ejs %>
  