<% include ./partials/header.ejs %>
    <div class="ui container">
       
        <% include ./partials/topbar.ejs %>
        <% include ./partials/flash.ejs %>

        <div class="head">
            <h1>Trade Books With People All Over The World</h1>
            <h3>THE SMALLEST, MOST USELESS BOOK TRADING SITE</h3>
            <a href="#">
                <h3>Browse Books Now!</h3>
            </a>
        </div>
        

        <h4>NEW SUBMITTED BOOKS</h4>
        <div class="ui grid">
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="card">
                    <div class="image">
                        <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                            alt="">
                    </div>
                    <a href="#">
                        <h5>The Alchemist</h5>
                    </a>
                    <div class="ui divider"></div>
                    <p>Fiction, Fiction, Genre</p>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="card">
                    <div class="image">
                        <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                            alt="">
                    </div>
                    <a href="#">
                        <h5>The Alchemist</h5>
                    </a>
                    <div class="ui divider"></div>
                    <p>Fiction, Fiction, Genre</p>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="card">
                    <div class="image">
                        <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                            alt="">
                    </div>
                    <a href="#">
                        <h5>The Alchemist</h5>
                    </a>
                    <div class="ui divider"></div>
                    <p>Fiction, Fiction, Genre</p>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="card">
                    <div class="image">
                        <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                            alt="">
                    </div>
                    <a href="#">
                        <h5>The Alchemist</h5>
                    </a>
                    <div class="ui divider"></div>
                    <p>Fiction, Fiction, Genre</p>
                </div>
            </div>
        </div>

<% include ./partials/footer.ejs %>
