<% include ./partials/header.ejs %>


  <% include ./partials/topbar.ejs %>
    <% include ./partials/flash.ejs %>

      <h1>USERNAME's Books</h1>
      <br>
      <br>
      <form id="addNewBook" method="POST">
        <a id="addNewBookLink" class="ui large button" style="">Add New Book</a>
        <div class="bookName">
          <div class="ui transparent big icon input">
            <input type="text" placeholder=" ">
            <i class="ui close icon link"></i>
          </div>
        </div>
      </form>
      <div class="ui grid booksGrid">

        <div class="sixteen wide mobile eight wide tablet four wide computer column">
          <div class="card">
            <div class="image">
              <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                alt="">
            </div>
            <a href="#">
              <h5>The Alchemist</h5>
            </a>
            <div class="ui divider"></div>
            <p>Fiction, Fiction, Genre</p>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet four wide computer column">
          <div class="card">
            <div class="image">
              <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                alt="">
            </div>
            <a href="#">
              <h5>The Alchemist</h5>
            </a>
            <div class="ui divider"></div>
            <p>Fiction, Fiction, Genre</p>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet four wide computer column">
          <div class="card">
            <div class="image">
              <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                alt="">
            </div>
            <a href="#">
              <h5>The Alchemist</h5>
            </a>
            <div class="ui divider"></div>
            <p>Fiction, Fiction, Genre</p>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet four wide computer column">
          <div class="card">
            <div class="image">
              <img class="thumbnail" src="http://books.google.com/books/content?id=FEL8DlqjYEkC&printsec=frontcover&img=1&zoom=2&source=gbs_api"
                alt="">
            </div>
            <a href="#">
              <h5>The Alchemist</h5>
            </a>
            <div class="ui divider"></div>
            <p>Fiction, Fiction, Genre</p>
          </div>
        </div>
      </div>





      <% include ./partials/footer.ejs %>
